mat-card-title {
  margin-bottom: 20px;
  text-align: center;
}
mat-card {
  max-width: 680px;
  margin: auto;

  mat-card-actions {
    margin-bottom: 0;
  }

  .param-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}


