<mat-toolbar color="accent">
    <h5>User Profile</h5>
</mat-toolbar>
<mat-horizontal-stepper #stepper="matHorizontalStepper">
    <mat-step [stepControl]="userForm">
        <form [formGroup]="userForm">
            <ng-template matStepLabel>Account Information</ng-template>
            <div fxLayout="row" fxLayout.lt-sm="column" [formGroup]="userForm.get('name')" fxLayoutGap="20px">
                <mat-form-field fxFlex="40%">
                    <input matInput placeholder="First Name" aria-label="First Name" formControlName="first" autocomplete="off" />
                    <mat-error *ngIf="userForm.get('name').get('first').hasError('required')">First name is required</mat-error>
                    <mat-error *ngIf="userForm.get('name').get('first').hasError('minlength')">Must be at least 2 characters</mat-error>
                    <mat-error *ngIf="userForm.get('name').get('first').hasError('maxlength')">Cannot exceed 50 characters</mat-error>
                </mat-form-field>
                <mat-form-field fxFlex="20%">
                    <input matInput placeholder="Middle Name" aria-label="Middle Name" formControlName="middle" autocomplete="off" />
                    <mat-error *ngIf="userForm.get('name').get('middle').invalid">Only initial</mat-error>
                </mat-form-field>
                <mat-form-field fxFlex="40%">
                    <input matInput placeholder="Last Name" aria-label="Last Name" formControlName="last" autocomplete="off" />
                    <mat-error *ngIf="userForm.get('name').get('last').hasError('required')">Last name is required</mat-error>
                    <mat-error *ngIf="userForm.get('name').get('last').hasError('minlength')">Must be at least 2 characters</mat-error>
                    <mat-error *ngIf="userForm.get('name').get('last').hasError('maxlength')">Cannot exceed 50 characters</mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px">
                <mat-form-field fxFlex="50%">
                    <input
                        matInput
                        #ref
                        [matDatepicker]="picker1"
                        placeholder="Date Of Birth"
                        formControlName="dateOfBirth"
                        autocomplete="off"
                        (dateChange)="dateOfBirthChange(ref.value)"
                    />
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                    <mat-hint *ngIf="yearsOld">{{ yearsOld }} years old</mat-hint>
                </mat-form-field>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="userForm">
        <form [formGroup]="userForm">
            <ng-template matStepLabel>Contact Information</ng-template>
            <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px">
                <mat-form-field fxFlex="30%">
                    <input matInput placeholder="Email" aria-label="Email" formControlName="email" autocomplete="off" />
                    <mat-error *ngIf="userForm.get('email').invalid">Invalid email</mat-error>
                    <mat-hint *ngIf="!isUserAManager">Only your manager can update your email</mat-hint>
                </mat-form-field>
                <div class="role-group" fxFlex="35%">
                    <mat-label libRequired>Roles</mat-label>
                    <span *ngFor="let roleGroup of rolesArray.controls" [formGroup]="roleGroup">
                        <mat-checkbox [formControl]="roleGroup.get('selected')" class="role-item">
                            {{ roleGroup.get('role').value }}
                        </mat-checkbox>
                    </span>
                </div>
                <div fxFlex="35%">
                    <div class="phone-control-add"><button (click)="addPhoneControl()" mat-raised-button>Add Phone</button></div>
                    <div class="phone-control" *ngFor="let phoneControl of phonesArray.controls; let i = index" [formGroup]="phoneControl">
                        <mat-form-field floatLabel="never">
                            <mat-select placeholder="Type" formControlName="type">
                                <mat-option *ngFor="let phoneType of phoneTypes" [value]="phoneType">{{ phoneType.valueOf() }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput placeholder="Number" aria-label="Number" formControlName="number" autocomplete="off" />
                            <mat-error
                                *ngIf="
                                    phonesArray.controls[i].get('number')?.errors?.required && phonesArray.controls[i].get('number').dirty
                                "
                            >
                                Phone number is a required field
                            </mat-error>
                            <mat-error
                                *ngIf="
                                    phonesArray.controls[i].get('number')?.errors?.pattern && phonesArray.controls[i].get('number').dirty
                                "
                            >
                                Invalid phone number format
                            </mat-error>
                            <mat-hint>Please enter phone number in USA format</mat-hint>
                        </mat-form-field>
                        <button mat-icon-button (click)="removePhoneControl(phonesArray.controls[i].get('id').value)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
            <div fxLayout="column" class="address-section" fxLayoutGap="10px" [formGroup]="userForm.get('address')">
              <mat-card-subtitle>Address Section</mat-card-subtitle>
              <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px">
                <mat-form-field fxFlex="40%">
                  <input matInput placeholder="Line1" aria-label="Line 1" formControlName="line1" autocomplete="off" />
                  <mat-error *ngIf="userForm.get('address').get('line1').hasError('required')">Address line1 is required</mat-error>
                </mat-form-field>
                <mat-form-field fxFlex="20%">
                  <input matInput placeholder="Line2" aria-label="Line2" formControlName="line2" autocomplete="off" />
                  <mat-error *ngIf="userForm.get('address').get('line2').hasError('required')">Address line2 is required</mat-error>
                </mat-form-field>
                <mat-form-field fxFlex="40%">
                  <input matInput placeholder="City" aria-label="City" formControlName="city" autocomplete="off" />
                  <mat-error *ngIf="userForm.get('address').get('city').hasError('required')">City is required</mat-error>
                </mat-form-field>
              </div>
              <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="20px">
                <mat-form-field fxFlex="30%">
                  <input type="text" placeholder="Enter Location" matInput formControlName="state" [matAutocomplete]="auto" />
                  <mat-autocomplete [displayWith]="getOptionText" #auto="matAutocomplete">
                    <mat-option *ngFor="let option of states" [value]="option">
                      {{ option.name }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <mat-form-field fxFlex="20%">
                  <input matInput placeholder="Zip" aria-label="Zip" formControlName="zip" autocomplete="off" />
                  <mat-error *ngIf="userForm.get('address').get('zip').hasError('required')">Zip is required</mat-error>
                  <mat-error *ngIf="userForm.get('address').get('zip').hasError('pattern')">Zip is invalid</mat-error>
                </mat-form-field>
              </div>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="userForm">
        <form [formGroup]="userForm">
            <ng-template matStepLabel>Review</ng-template>
            <div>
                Review and update your user profile
                <app-view-user [userForm] ="userForm"></app-view-user>
            </div>
            <div fxLayout="row" class="margin-top">
              <button mat-button matStepperPrevious color="accent">Back</button>
              <div class="flex-spacer"></div>
              <div *ngIf="userError" class="mat-caption error">{{userError}}</div>
              <button mat-button color="warn" (click)="stepper.reset()">Reset</button>
              <button mat-raised-button matStepperNext color="primary" type="submit" (click)="updateAddress()" [disabled]="userForm.invalid">Update</button>
            </div>
        </form>
    </mat-step>
</mat-horizontal-stepper>
