.mat-form-field {
    text-align: center;
}

::ng-deep .mat-hint {
    width: 100% !important;
    text-align: center !important;
}
.role-item {
    margin: 0 5px 0 5px;
}

.role-group,
.phone-control-add {
    display: flex;
    margin: 10px 7px 10px 7px;
}

.role-group {
    justify-content: center;
}

.phone-control-add {
    justify-content: left;
}

.state-display {
    width: 50%;
}

.phone-control {
    mat-form-field {
        margin: 0 10px 0 10px;
    }
}
