<div class="row">
    <div fxLayout="row" fxLayout.lt-sm="column">
      <div fxFlex="30%" class="user-search">
        <mat-form-field floatPlaceholder="never">
          <input type="text" [formControl]="search" matInput uppercase placeholder="Enter search texxt" />
          <mat-icon class="clickable" matPrefix>search</mat-icon>
          <mat-hint>Enter text to search users</mat-hint>
          <mat-error *ngIf="search.invalid">Invalid search text</mat-error>
        </mat-form-field>
      </div>
    </div>
</div>
