<mat-toolbar color="accent">
    <div class="toolbar-elements">
        <a mat-button routerLink="/manager/home" routerLinkActive="active-link"><h1 class="title">Manager's Dashboard</h1></a>
        <a mat-button routerLink="/manager/users" routerLinkActive="active-link"><h1 class="title">User Management</h1></a>
        <a mat-button routerLink="/manager/receipts" routerLinkActive="active-link"><h1 class="title">Receipt Lookup</h1></a>
        <a mat-button routerLink="/pos"><h1 class="title">Point Of Sale</h1></a>
        <a mat-button routerLink="/inventory"><h1 class="title">Inventory</h1></a>
    </div>
</mat-toolbar>
<router-outlet></router-outlet>
